body{
    font-family: 'Montserrat';
    font-size: 16px;
}
.top{
    background-color: #2c3531;
}
.container{
    margin: 0 auto;
    max-width: 1366px;
}
.header{
    padding: 15px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 28px;
    font-weight: 600;
    color: #ffeb83;
}
.links{
    display: flex;
    align-items: center;
}
.contacts{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.links_button{
    margin-left: 30px;
    width: 120px;
    height: 40px;
    background: #ffeb83;
    border: none;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.introduce_content{
    margin-top: 68px;
    margin-left: 110px;
    
}
.content_title{
    font-weight: 600;
    font-size: 55px;
}
.content_list{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.content_list ul li{
    margin-bottom: 15px;
}
.topcontent_button{
    background: #ffeb83;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 56px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    margin-bottom: 56px;
}
.maincontent{
    background: linear-gradient(0deg, #FFED27 -10.48%, #D66751 25.77%, #FFED27 67.78%, #D66751 93.79%);
    display: flex;
    justify-content: space-between;
}
.guarantee{
    background-color: #2c3531;
    padding-bottom: 35px;
    padding-top: 33px;
}
.guaranteebox{
    display: flex;
    justify-content: space-evenly;
}
.guar-desc{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-top: 20px;
    
    color: #FFFFFF;

text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.midcontent{
    background: linear-gradient(0deg, #FFED27 -10.48%, #D66751 25.77%, #FFED27 67.78%, #D66751 93.79%);
    display: flex;
    padding-top: 171px;
    padding-bottom: 171px;
}

.midcontentlist ul li{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}
.midbutton{
    background: #ffeb83;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 56px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    margin-top: 25px;
}
.potolok{
    display: flex;
    background-color: #2c3531;
    align-items: center;
}
.titlepot{
    font-weight: 600;
font-size: 34px;
line-height: 44px;
margin: 0 auto;
text-align: center;
/* identical to box height */


color: #FFEB83;
}
.examplestitle{
    font-weight: 600;
font-size: 35px;
line-height: 43px;
text-align: center;
padding-top: 50px;
margin-bottom: 30px;
}

.potbg{
    display: flex;
}
.examples{
    background: linear-gradient(0deg, #FFED27 -10.48%, #D66751 25.77%, #FFED27 67.78%, #D66751 93.79%);
}
.slider{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.footer{
    background-color: #2c3531;
}
.contactsbot{
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
}
.cont-numbers-item{
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.cont-numbers-item a{
    color:#FFFFFF;
}
